* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: aliceblue;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 3px solid #78788c;

}
body > h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.ParentBlock{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50%;
    margin-top: 50px;

}
.title{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width: 100%;
}
.element{
    border: 1px solid black;
}
