* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: aliceblue;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 3px solid #78788c;

}


input::placeholder {
    display: flex;
    justify-content: left;
}



.form {
    width: 340px;
    height: 440px;
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #7b98ab;
    margin: calc(35vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #ff4e4e;
    color: #fff
}

span {
    margin: 0 5px 0 15px
}