* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: aliceblue;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 3px solid #78788c;
    margin-left: 150px;
}
.sigIn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin-right: 150px;
}
button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #ff4e4e;
    color: #fff
}
.container{
    width: 75%;
    margin-top: 100px;
}
body > h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

